/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 10, 2014, 5:33:21 PM
    Author     : Michael
*/

body{
    background-color: rgba(255,255,0,0.5);
    text-align: center;
}

form.formOne{
    
    background-color: rgba(255,255,255,0.5);
    padding: 20px;
    padding-bottom: 30px;
    width: 300px;
    height: 200px;
    margin: auto;
    
}

h1.title{
    color: rosybrown;
}

header.logo{
    font-size: 10px;
    text-align: center;
    background-color: rgba(255,255,255,0.6);
    padding: 1px;
    width: 80px;
    position: fixed;
    top:10px;
    left:15px;
}

a.login{
    font-size: 15px;
    position: fixed;
    top:10px;
    right:15px;
}

a.SignUp{
    font-size: 15px;
    position: fixed;
    top:30px;
    right:15px;
}
