/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 10, 2014, 5:33:21 PM
    Author     : Michael
*/

body{
    background-color: yellow;
    text-align: center;
}

form.formOne{
    
    background-color: rgba(255,255,255,0.5);
    padding: 20px;
    padding-bottom: 30px;
    width: 300px;
    height: 200px;
    margin: auto;
    
}

h1{
    color: rosybrown;
}

